@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

[class*="__container"] {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 10px;
}

.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100%;
}

body{
  font-family: "Lato", sans-serif;
}

.header{
  background-color: chartreuse;
  padding: 20px 0;
}
.header__title{
  font-weight: 900;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  color: #1E212C;
}
.header__subtitle{
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  color: midnightblue;
}
.transform{
  background: linear-gradient(#ced9dc ,#e28af2 ,#503795);
}
.transform__inner{
  padding: 25px 0;
}
.transform__title{
	font-size: 24px;
	font-weight: 700;
	color: #1E212C;
  text-align: center;
}
.transform__body{
  background: teal;
  width: 250px;
	height: 250px;
  perspective: 400px;
  margin: 20px auto;
}
.transform__item{
  background: green;
  width: 250px;
	height: 250px;
}
.transform__item--translate:hover{
  transform: translate(35px, 35px);
	transition: all 0.6s ease 0.2s;
}
.transform__item--scale{
  background: indianred;
}
.transform__item--scale:hover{
  transform: scale(0.7, 0.5);
  transition: all 0.6s ease 0.2s;
}
.transform__item--rotate{
  background: mediumpurple;
}
.transform__item--rotate:hover{
  transform: rotate(50deg);
  transition: all 0.6s ease 0.2s;
}
.transform__item--skew{
  background: mediumblue;
}
.transform__item--skew:hover{
  transform: skew(-15deg, -22deg);
  transition: all 0.6s ease 0.2s;
}
.transform__item--matrix{
  background: mediumseagreen;
}
.transform__item--matrix:hover{
  transform: matrix(0.7, 0.1, 0.1, 0.7, 14, 18);
  transition: all 0.6s ease 0.2s;
}
.transform__item--mulriple2d{
  background: orange;
}
.transform__item--mulriple2d:hover{
  transform: translate(20px, 25px) rotate(80deg) scale(0.5);
  transition: all 0.6s ease 0.2s;
}
.transform__item--transform-origin{
  background: salmon;
}
.transform__item--transform-origin:hover{
  transform-origin: 10% 15%;
	transform: rotate(-30deg);
  transition: all 0.6s ease 0.2s;
}
.transform__item--perspective{
  background: steelblue;
}
.transform__item--perspective:hover{
  transform: rotateX(60deg);
  transition: all 0.6s ease 0.2s;
}
.transform__item--translate3d{
  background: violet;
}
.transform__item--translate3d:hover{
  transform: translate3d(30px, 30px, 30px);
  transition: all 0.6s ease 0.2s;
}
.transform__item--scale3d{
  background: yellowgreen;
}
.transform__item--scale3d:hover{
  transform: scale3d(1.2, 0.6, 1);
  transition: all 0.6s ease 0.2s;
}
.transform__item--rotate3d{
  background: red;
}
.transform__item--rotate3d:hover{
  transform: rotate3d(1, 1, 1, 60deg);
  transition: all 0.6s ease 0.2s;
}
.transform__item--matrix3d{
  background: dodgerblue;
}
.transform__item--matrix3d:hover{
  transform: matrix3d(0.92,-0.05,0.39,0,0.05,0.91,0.41,0,-0.39,-0.41,0.8372,0,50,25,4,1);
  transition: all 0.6s ease 0.2s;
}
.transform__item--multiple3d{
  background: greenyellow;
}
.transform__item--multiple3d:hover{
  transform: translate3d(35px, 45px, 50px) rotate3d(0.6, 0.8, 1.4, 40deg);
  transition: all 0.6s ease 0.2s;
}
.transform__body--transform-style{
  transform-style:preserve-3d;
}
.transform__item--transform-style{
  background: lightblue;
}
.transform__item--transform-style:hover{
  transform: rotateY(30deg);
  transition: all 0.6s ease 0.2s;
}
.transform__item--backface-visibility{
  background: mediumorchid;
}
.transform__item--backface-visibility:hover{
  transform: rotateY(180deg);
  backface-visibility: visible;
  transition: all 0.6s ease 0.2s;
}
.car{
  background: url(../img/road.jpg) center / cover no-repeat;
  position: relative;
  height: 1200px;
  perspective: 400px;
}

.car__body{
  position: relative;
  transform: scale(1, 1);
  top: 800px;
	left: 0;
}
.car__body:active {
  transform: rotateY(-50deg);
	position: relative;
	transition: all 3s ease 0.1s;
	left: 1800px;
}
.car__body:hover .car__wheel-1{
  transform: rotate(1500deg);
  transition: all 5s ease 0s;
}
.car__body:hover .car__wheel-2{
  transform: rotate(1500deg);
  transition: all 5s ease 0s;
}

.car__light{
  position: absolute;
  width: 8px;
	height: 8px;
	background: #D79922;
	border-radius: 50%;
  left: 700px;
  top: 127px;
}

.car__light:hover{
  box-shadow: 80px 15px 30px 70px ghostwhite;
}

.car__wheel-1{
  position: absolute;
  top: 130px;
  left: 85px;
}

.car__wheel-2{
  position: absolute;
  top: 130px;
  left: 533px;
}
